/* Add screen styles below */
body {
    background-color: #f5f5e2;
}

h1 {
    font-size: 16px;
}

h6 { 
    margin: 0px;
}

div {
    display: inline-block;
}

nav {
    background-color: rgb(255, 102, 0); 
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
  }

ul {
    margin: 0px;
    padding-left: 2px;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 3px;
  }
  
#login {
    float: right;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px
}  

#logo {
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: x-large;
  }

#title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

.post {
    display: flex;
    flex-direction: column;
}
.numbers {
    color: #828282;

}

.icon {
    color: #828282;
}

.posttitle {

}

.postsubtitle {
    color: #828282;

}

.postinfo {
    color: #828282;
    font-size: 12px;
  }
  